<app-navbar></app-navbar>

<div class="layout">
  <aside class="sidebar">
    <nav>
      <ul>
        <li><a routerLink="/dashboard">Inicio</a></li>
        <li><a routerLink="/eventos">Eventos</a></li>

        <!-- Promociones e información -->
        <li><a routerLink="/promociones">Promociones</a></li>
        <li><a routerLink="/empresa">Sobre la Empresa</a></li>
        <li><a routerLink="/terminos">Términos y Condiciones</a></li>
        <li><a routerLink="/privacidad">Política de Privacidad</a></li>
        <li><a routerLink="/ayuda">Ayuda / FAQ</a></li>

        <!-- conciertos y transporte -->
        <li><a routerLink="/conciertos">Conciertos</a></li>
        <li><a routerLink="/transporte">Transporte</a></li>

        <!-- Productos y compras -->
        <li><a routerLink="/productos">Productos / Extras</a></li>
        <li class="cart-link">
          <a routerLink="/checkout">Carrito / Pagar</a>
        </li>
      </ul>
    </nav>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
