<app-navbar></app-navbar>

<div class="layout">
  <aside class="sidebar">
    <nav>
      <ul>
        <li><a routerLink="/dashboard">Inicio</a></li>
        <li><a routerLink="/clientes">Gestionar Clientes</a></li>
        <li><a routerLink="/eventos">Eventos</a></li>
        <li><a routerLink="/promociones">Promociones</a></li>
        <li><a routerLink="/empresa">Sobre la Empresa</a></li>
        <li><a routerLink="/terminos">Términos y Condiciones</a></li>
        <li><a routerLink="/privacidad">Política de Privacidad</a></li>
        <li><a routerLink="/ayuda">Ayuda / FAQ</a></li>
      </ul>

    </nav>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
